
:root {
    --border-radius: 0.25rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    margin: 5rem 1rem;
    max-width: 40rem;
    width: 90%;
    padding: 1rem;
    border-radius: var(--border-radius);
    border: 2px solid #222;
    box-shadow: -2px 2px 0 #222;
}

h3 {
    margin-bottom: 0.25rem;
}

textarea {
    width: 100%;
    height: 10rem;
    max-height: 25rem;
    overflow: scroll;
    resize: vertical;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #666;
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
}

#table {
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px #666;
}

table td {
    padding: 0.25rem;
    border: 1px solid #222;
}

.copy {
    display: flex;
    gap: 0.5rem;
}

.copy input {
    flex-grow: 5;
    padding: 0.25rem;
    border: 1px solid #666;
    border-radius: var(--border-radius);
}

.copy button {
    flex-grow: 1;
    padding: 0.25rem;
    border: 1px solid #666;
    border-radius: var(--border-radius);
    transition: background-color 0.1s ease-in-out;
}

.copy button:hover {
    background-color: #ddd;
    cursor: pointer;
}
